@import "junicode.css";
div.outer_container{
  width: 100%;
  text-align: center;
}

div.mid_container, .navirahmen, div.inner_container {
  max-width: 51em;
}


div.mid_container {
  text-align: left;
  margin: 0 auto;
  display: block;
}

body, div.bib_box, span.zeilen_angabe, span.seiten_dummy, span.seiten_angabe {
  background-color:white;
  color:black;
  font-family: "Fira Sans", sans-serif;
}

body.breiter {
  /* Für Resultat-Seite */
  max-width: 55em;
}

body.schmaler {
  max-width: 80ex;
}

.bib_item span.titel,
.bib_box span.titel,
a.fnhd_text, span.fnhd_text,
.code_like {
  font-size: 120%;
}

div.Informationen {
  margin-top: 3em;
  margin-bottom: 5em;
}

div#fnhd_text{
  font-size: large;
}

.bib_item span.titel,
.bib_box span.titel,
.fnhd_text, div#fnhd_text, div#morphbox,
.code_like {
  font-family: JunicodeW, Junicode, Junicode Regular, JunicodeRegular, TITUS Cyberbit Basic, serif;
}

div#morphbox {
  position: fixed;
  float: right;
  display: none;
  letter-spacing:0.05ex;
  background-color: white;
  /* background-color: #efefef; */
  /* border: 1px solid black; */
  font-size: 90%;
  padding: 1ex;
  top: 30%;
  right: 2em;
  /*margin-left: 35px; */
  min-width: 22ex;
}

div.morph_mother {
  /* overflow: auto; */
  width:100%;
}
table.morph_child {
  font-size: 85%;
  color: #304090;
  padding: 1ex;
  /* display: table; */
  background: #DEDEDE;
  border: solid;
  border-width: 1px;
}

table.morph_child td {
  vertical-align: text-top;
}

.feature ~ .feature {
  padding: .125ex;
}

.morph_child ~
.morph_child {
  margin-top: 1em;
  padding-top: 1em;
}


/* div.feature { */
/*   display: table-row; */
/* } */

.gefunden{
  width: 100%;
  background-color: yellow;
}
.gefunden > td {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 107.5%;
  letter-spacing: 0.1ex;
  font-weight: bold;
  padding: 0.5ex;
}

.feat_name,
.feat_val
{
  display: table-cell;
}

.feat_val {
  font-weight:bold;
}

.feat_name {
  padding-right: 1ex;
}

.feat_name::after {
  content: ":";
}

.Rand {
  border: 1px solid black;
}

.fnhddoc_titel, .FnhdC_HTML_doc{
  font-weight: bold
}

.Achtung {
  font-size: 90%;
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #333;
  margin-bottom: 2em;
  padding: 5px;
  letter-spacing:0.05ex;
  margin-left:auto;
  margin-right:auto;

}

.Info_kl {
  font-size: 90%;
  /* width: 17em;
    border: 2px solid green;*/
  padding: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #efefef;
  color: #008800;
  margin-bottom: 0;
  text-align: center;
  font-family: "Fira Sans", "Source Code Sans Pro", "DejaVu Sans Condensed", sans-serif;
  padding: 5px;
  letter-spacing:0.05ex;
  margin-left:auto;
  margin-right:auto;
}

pre, code, tt{
  font-family: "Fira Mono", "DejaVu Sans Mono", Consolas, Monaco, "Courier New", Courier;
}

pre, code, tt,
.code_like {
  color: #0000B0;
}

pre {
  font-size: 90%;
  width: 90%;
  /* border: 2px solid cyan; */
  padding: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* margin-bottom: 20px;
    margin-top: 20px; */
  background-color: #efefff;
  /* color: #008800; */
  margin-bottom: 0;
  padding: 5px;
  letter-spacing:0.05ex;
  margin-left:auto;
  margin-right:auto;
}

.Info_sw {
  color: inherit;
}
.Info{
  color: #008800;
}
.Info, .Info_sw {
  font-size: 90%;
  width: 90%;
  border: 2px solid green;
  padding: 7px;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: #efefef;
  padding: 5px;
  letter-spacing:0.05ex;
  margin-left:auto;
  margin-right:auto;
}

p.inInfo{
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
}

th.fnhddoc,td.fnhddoc{
  padding-left: 4em;
}
th.fnhddoc,td.fnhddoc{
  text-align: center;}

td.knopf {
  padding-top: .5ex;
}
.paddinglos {
  padding: 0ex;
}
.obentitel {
  padding-top: 0pt;
  padding-bottom: 0pt;
  text-align: right;
}
.label {
  text-align: right;
  width: 15em;
  padding-right: 1em;
}

.fett {
  font-weight: bold;
}
label{
  font-weight: bold;
}

label.char {
  font-weight: normal;
}
/*div.char {
    margin-left: 2em;
    text-indent: -2em;
} */

.hg1 {
  font-family:"Fira Sans", sans-serif;
  color:#696969;
  font-size:x-large;
}

.hg2 {
  font-family:"Fira Sans", sans-serif;
  color:#696969;
  font-size:small;
}

.hg3 {
  font-family:"Fira Sans", sans-serif;
  color:#696969;
}

.blind {
  display: none
}
.nachnavi {
  margin-top: 1em;
}
.navi3, .navi, .navi2, .mini_navi, nav {
  font-size: 85%;
  letter-spacing: 0.1ex;
}
.navi3, .navi2, .navi{
  text-align: center;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  padding-right: 1em;
}
nav, nav li,
.navi3,	.navi, .lili, .mini_navi {
  /* background-color:#E0E0E0;*/
  font-stretch: condensed;
  background-color: #304090;
  color: #FFFFFF;

}

div#TOC{
  margin-top:4em;
  margin-bottom: 4em;
}

.mini_navi {
  /* background-color:#E0E0E0;*/
  font-stretch: condensed;
  background-color: inherit;
  color: #304090;
  /* padding-top: .5ex;
     padding-bottom: .5ex; */
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: none;
}

a.mini_navi::before {
  content: " [↑ ";
}

a.mini_navi::after {
  content: "] ";
}

div#TOC, div.navirahmen_innen {
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 0.15ex 0 0.2ex 0;
}

div.navirahmen_innen{
  background-color: #CBCFE3;
  padding: 0.33ex;
  text-align: center;
  border-color: #304090;

}

div.nav_nav{
  padding-bottom:2em;
  margin-top:3em;
  margin-bottom: 3em;
}

nav a,
.lilix a,
.lili a,
.navi a {
  color: #FFFFFF;
}
.navi2 a{
  color:  #000000;
  text-align: center;
}
.navi2{
  background-color: #CBCFE3;
}
.abstand { margin-top: 4em }
.h1,.h2,.h3,h1,h2,h3,h4{
  line-height: 1.5em;
  margin-top: 1.5em;
}
h1.title {
  font-size: 180%;
}
.h1, h1 {
  font-weight: bold;
  color: #304090;
  font-size: 150%;
}
h2, h3.date {
  color: #7575A5;
}

.h2 {
  font-size: 125%;
  font-weight: bold;
  padding-top:1ex;
}


h2 ~ h3, h3 ~ h4 {
  margin-top: 2em;
}

h3, h4 {
  margin-top: 3em;
/*
  text-align: center;
  background-color: #CBCFE3;
  padding: .5ex;
  margin-left:10%;
  margin-right:10%;
*/
}

div.bib_item h3, div.bib_box h3 {
  text-align: left;
  background-color: inherit;
  padding-left:0;
  padding-right:0;
}

div.bib_item h3, div.bib_box h3, div.bib_item ul, div.bib_box ul{
  margin-top: 0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}

div.bib_box{
  margin-top: 1em;
  margin-bottom: 4em;
  border: 1px solid black;
  background-color: #a4d3ee;
  padding: 1ex;
  border-radius: 1ex;
}


a.text {
  font-weight: bold;
}

.ueberschrift, .title, h1.haupttitel {
  font-weight: bolder;
  font-size: 150%;
}
h1.title {
  text-align: center;
}
h1.subtitle{
  font-size: 120%;
  letter-spacing: 0.25ex;
}
.ueberschrift, .title, .subtitle, h1.haupttitel, h2.author{
  text-align: center;
  font-variant: normal;
}

h2.author{
  font-variant:normal;
}

h3.date {
  background-color: inherit;
}

h3.date ~ div,
h2.author ~ div {
  margin-top: 3em;
}

.emph {
  font-weight:bold;
}

.zitat {
  font-style:italic;
}
/*
.zitat::before {
  content: "„";
}
.zitat::after {
  content: "“";
}
*/

.eingriff {
  font-family:"Fira Sans", sans-serif;
}

.name {
  text-decoration: underline;
  font-variant:small-caps
}

.logo {
  font-size: 200%;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}

.bibliography ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bib, .bibliography li {
  margin-left: 2em;
  text-indent: -2em;
  margin-bottom: 1ex;
}

.bib2 {
  margin-left: 4em;
  text-indent: -2em;
}

.naviname {
  color: #FFFFFF;
  font-style: italic;
}

a.haupt{
  color: #FFFFDF;
}
.haupt,
dt {
  font-weight: bold;
}

ul dt {
  font-weight: normal;
}

.author {
  font-variant:small-caps
}

.fnhddoc_title:before {content: "«"}
.fnhddoc_title:after {content: "»"}
.fnhddoc_title {
  font-weight: bold;
}

.navirahmen {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left:auto;
  margin-right:auto;
}

div.fnhd_bib,
div#header,
.fnhd_text{
  margin-top: 8em;
}
div#header + div,
div#header + p {
  margin-top: 4em;
}

div ~ div.navirahmen {
  display:none;
}

div.navirahmen {
  margin-bottom:2em;
  display: block;
  /*padding:1ex;*/
  background-color: #CBCFE3;
  color: #FFFFFF;
}

div.navi a, div.navi b, span.navi_trenner {
  /* padding:1ex; */
  display: inline-block;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

span.navi_trenner::before {
  content: " · ";
}

span.navi_trenner_stark::before {
  content: " • ";
}


table{
  padding:1ex;
/*
       margin-left:auto;
       margin-right:auto;
*/

}
table#Resultate{
  width: 80%;
}
div#Resultate, #texttab{
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}
table.auswahltabelle{
  /*table-layout:fixed;*/
  padding:0pt;
  margin-left:0pt;
}

.weiss {
  background-color: #FFFFFF;
}
.mod0,.mitte{
  background-color: #CBCFE3;
  /* background-color:#CCCCCC; */

}

td.mitte{
  padding-bottom:1ex;
}

th {
  border-bottom:solid;
}

.urheber {
  font-size: 75%;
  font-weight: lighter;
  text-align: right;
  padding-bottom: 0ex;
}

hr.lilix {
  width: 6em;
  text-align: center;
  margin-top: 2em;
}
.legalese,.lili {
  padding-top: 1ex;
  padding-bottom: 1ex;
  font-size: 85%;
  padding-left:7.5%;
  padding-right:7.55%;
  text-align: center;
}
.legalese {
  font-size: 75%;
  font-weight: lighter;
}

span.adverb,
span.adverbial,
span.adjektiv,
span[typ=adverb],
span[typ=adverbial],
span[typ=adjektiv]{
  color: blue;
}
span.verb,
span[typ=verb]{
  color: red;
}
span.substantiv,
span[typ=substantiv]{
  color: green;
}
span.potentiell,
span[typ=potentiell]{
  color: #835C3B;
}
span.zahl,
span[typ=zahl]{
  color: #C71585;
}


div.seite {
  display: table;
  column-count: 2;
}

div.zeile {
  display: table-row;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
}

div.angaben_zeile {
  display: table-row;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
}

.seiten_angabe::before {
  content: "[ ";
}

.seiten_angabe::after {
  content: " ]";
}

span.seiten_dummy,
span.seiten_angabe {
  padding-top: 1ex;
  display: table-cell;
  font-weight: bold;
}

span.zeile_inhalt {
  display: table-cell;
}

span.zeilen_angabe {
  display: table-cell;
  text-align: left;
  font-size: 80%;
  letter-spacing:0.05ex;
  padding-right: 1em;
}

.praefix_bloecke, .praefix_block{
  display: block;
}

span.lemma_info{
  display: inline-block;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;
  font-size: 85%;
  font-style: normal;
}

td.lemma_info{
  text-align: left;
  padding-left: 1em;
}

div.praefix_block{
  background: #BCBCBC;
  border: solid;
  border-radius: 15px;
  border-width: .05ex;
}

h4.praefix_block{
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  font-size: 70%;
  letter-spacing: 0.2ex;
  padding: 0.1ex;
  background: #666666;
  color: #CCCCCC;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}

div.praefix{
  font-size: 80%;
}
.praefix{
  text-align: center;
  letter-spacing: 0.1ex;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-left: 1ex;
  padding-right: 1ex;
}
div.praefix + div.praefix {
  padding-top: 0.25ex;
  padding-bottom: 0.25ex;
}

div.praefix:last-child {
  padding-bottom: 1ex;
}

span.praefix{
  display: inline-block;
  margin-left: .25ex;
  margin-right: .25ex;
  border: dotted;
  padding: .25ex;
  border-width: .05ex;
}

div.zusatz > div {
  display: table-row;
}
div.zusatz > div > em {
  display: table-cell;
  padding-right: 1ex;
}
div.zusatz > div > div {
  display: table-cell;
}

.titel{
  font-weight: bold;
}

div.references{
  font-size: small;
  letter-spacing: 0.05ex;
}
div.references div{
  padding-left: 2em ;
  text-indent: -2em ;
}
div.references div, div.references p{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media print {
  div.navirahmen, 
  div.Informationen {
    display: none;
  }
}

.figure {
  text-align: center;
  margin-bottom: 2em;
}

.figure p {
  text-align: justified;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td.count {
  textbold;
}

div.references{
  font-size: small;
  letter-spacing: 0.05ex;
}
div.references div{
  padding-left: 2em ;
  text-indent: -2em ;
}
div.references div, div.references p{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media print {
  div.navirahmen, 
  div.Informationen {
    display: none;
  }
}

.figure {
  text-align: center;
  margin-bottom: 2em;
}

.figure p {
  text-align: justified;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td.count {
}

div.references{
  font-size: small;
  letter-spacing: 0.05ex;
}
div.references div{
  padding-left: 2em ;
  text-indent: -2em ;
}
div.references div, div.references p{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media print {
  div.navirahmen, 
  div.Informationen {
    display: none;
  }
}

.figure {
  text-align: center;
  margin-bottom: 2em;
}

.figure p {
  text-align: justified;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td.count {
  font-weight: bold;
}

td.percent_sign {
  width: 1em;
}
section.wortart table,
section.wortart tr,
section.wortart td,
section.wortart th
{
  border: 0;
}

section.wortart tr {
  text-align: right;
}

/* für Suche: */
label {
  font-weight: bold;
  /* min-width: 3em; */
  padding-left: 1ex;
  padding-right: 1.5ex;
}

form.filter_reg {
  display: table;
}
div.field {
  display: table-row;
  text-align: right;
}

span.neg {
  padding-left: 1em;
}

span.reg, span.neg {
  display: table-cell;
}
span.reg, span.neg {
  text-align: right;
}
span.beg {
  text-align: center;
}

a.event {
  font-weight: bold;
}

.empty {
  font-weight: bold;
  color: red;
  font-family: sans-serif;
  font-size: 125%;
}

/* Suche ENDE */

.smallcaps {
  font-variant: small-caps;
}

nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

nav, nav ul{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
nav li {
	/* margin: 0.5em; */
  padding: 1ex;
	padding-top: 1.25 ex;
  /* margin-top: .5ex; */
	/* font-size: 1.5rem; */
	flex: auto;
}
nav a {
  text-decoration: none;
}

p, li {
  text-align: left;
  
}

@media (min-width: 45em) {

  p, li {
    text-align: justify;
    
  }
  
  nav > ul {
		flex-direction: row;
		height: 2.5em;
	}

  nav li {
    text-align: center;
		flex: auto;
	}

}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
	color: darkblue;
	background-color: gold;
}

/*     submenu navigation links      */

nav .submenu {
	visibility: hidden;
	height: 0;
	z-index: 1000;
}


nav .submenu li {
	display: block;
  padding: 1ex;
	/* width: 15em; */
}
/**     Show the submenu on hover, focus     **/

nav li:hover .submenu,
nav li:active .submenu,
nav li:focus .submenu {
	visibility: visible;
	height: auto;
}

nav li:focus-within .submenu {
	visibility: visible;
	height: auto;
}
